@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
    font-family: sans-serif !important;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.shadow-accordian {
  box-shadow: 0px 1px 30px 0px rgba(0, 0, 0, 0.1);
}

.bt-gradient {
  background: linear-gradient(
    160deg,
    #ffc700 0%,
    #ff003d 31.5%,
    #9e00ff 66%,
    #00d1ff 100%
  );
}
.bg-gradient {
  background: linear-gradient(
    126deg,
    #ffc700 0.98%,
    #ff003d 40.34%,
    #9e00ff 78.58%,
    #00d1ff 95.68%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* font-family: Outfit; */
  font-size: 50px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

/* .border-gradient {
    border-image: linear-gradient(131deg, #FFC700 0%, #FF003D 31.5%, #9E00FF 66%, #00D1FF 100%);
    border-image-slice: 1;
    border-radius: 73px;
    border-style:solid;
    border-width: 10px;
  }
  */

.border-gradient {
  position: relative;
  border-radius: 73px;
}
.border-gradient::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 73px;
  margin: 0 auto;
  background: linear-gradient(
    131deg,
    #ffc700 0%,
    #ff003d 31.5%,
    #9e00ff 66%,
    #00d1ff 100%
  );
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  padding: 5px;
}
.border-gradient-2 {
  position: relative;
  border-radius: 13px;
}
.border-gradient-2::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 13px;
  margin: 0 auto;
  background: linear-gradient(
    131deg,
    #ffc700 0%,
    #ff003d 31.5%,
    #9e00ff 66%,
    #00d1ff 100%
  );
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  padding: 3px;
}
.background-gradient {
   background: linear-gradient(
    131deg,
    #ffc700 0%,
    #ff003d 31.5%,
    #9e00ff 66%,
    #00d1ff 100%
  );
  /* -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0); */
}
.cl-card {
  margin: 0;
  /* border-radius: 13px; */
  /* background: transparent; */
}
[class^="cl-internal-"] {
  display: none;
}

@media (max-width: 768px) {
  .border-gradient::before {
    padding: 3px;
  }
}
.border-gradient-1 {
  position: relative;
  border-radius: 73px;
}

.border-gradient-1::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 73px;
  max-width: 637px;
  margin: 0 auto;
  width: 100%;
  /* z-index: -10; */
  background: linear-gradient(
    131deg,
    #ffc700 0%,
    #ff003d 31.5%,
    #9e00ff 66%,
    #00d1ff 100%
  );
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  padding: 2px;
}

/* .text-gradient {
  position: relative;
  border-radius: 12px;
}

.text-gradient textarea {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  padding: 10px; 
  border-radius: 12px; 
} */
#google_translate_element span {
  display: none;
}
#google_translate_element {
  color: transaprent;
}
#google_translate_element select {
  @apply bg-transparent text-gray-900 dark:text-white border border-gray-900 dark:border-white px-2 rounded-full py-1 flex flex-row font-bold justify-center items-center gap-3 w-[150px] h-full; 
}
#google_translate_element select:hover {
  @apply outline-none ;
}
#google_translate_element option {
  @apply bg-black !p-2 text-white font-outfit;
}
.skiptranslate,
.goog-te-gadget {
  font-size: 0px !important;
}
/* 
.text-gradient::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 12px;
  margin: 0 auto;
  width: 100%;
  background: linear-gradient(
    131deg,
    #ffc700 0%,
    #ff003d 31.5%,
    #9e00ff 66%,
    #00d1ff 100%
  );
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  padding: 2px;
  transition: opacity 0.3s ease; 
}

.text-gradient textarea:focus + ::before,
.text-gradient textarea:focus-visible + ::before {
  opacity: 1;
} */



.backnavdrop {
  -webkit-backdrop-filter: saturate(180%) blur(5px);
  backdrop-filter: blur(15px);
  backface-visibility: hidden;
  perspective: 1000;
  transform: translateZ(0);
  /* @apply backdrop-saturate-100; */
}


::-webkit-scrollbar {
    width: -1px !important;
}
 
/* Track */
::-webkit-scrollbar-track {
    background: #888 !important;
    border-radius: 5px !important;
    /* height: 5px !important; */
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #000 !important;
    border-radius: 5px !important;
}
 
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555 !important;
}